[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog
[submodule "deps/tinyobjloader"]
	path = deps/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
